<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">StoreManage</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav>
        <ul class="nav flex-column">
            <li class="nav-item">
                <NavLink class="nav-link" href="/">
                    <span class="oi oi-home" aria-hidden="true"></span>
                    الرئيسية
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/products">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>
                    قائمة المنتجات
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/product-manager">
                    <span class="oi oi-plus" aria-hidden="true"></span>
                    إداة المنتجات
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/customers">
                    <span class="oi oi-people" aria-hidden="true"></span>
                    العملاء
                </NavLink>
            </li>
        </ul>
    </nav>

</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
